body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bw_logo img{
    height: 90px;
    width: 90px;
    float: left;
}
.bw_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    
}